
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
.idea/
/vendor/
/.php-cs-fixer.cache
/php-cs-fixer-v3.phar/
###< symfony/framework-bundle ###
